.input-profile {
  @apply block 
    py-1
    px-0
    mx-2
    my-1.5
    w-[60%]
    text-sm 
    text-gray-900 
    bg-transparent 
    border-0
    /* text-center */
    border-gray-300 
    appearance-none 
    dark:text-white
    dark:border-gray-600 
    dark:focus:border-blue-500 
    focus:outline-none 
    focus:ring-0 
    focus:border-b-2 
    focus:border-blue-600;
}
