.container-modal {
  @apply flex 
    justify-center 
    items-center 
    overflow-x-hidden 
    overflow-y-auto 
    fixed 
    inset-0 
    z-50 
    outline-none 
    focus:outline-none;
}

.btn-save-modal {
  @apply text-white 
  bg-red-600 
  hover:bg-red-800 
  focus:ring-4 
  focus:outline-none 
  focus:ring-red-300 
  dark:focus:ring-red-800 
  font-medium 
  rounded-lg 
  text-sm 
  inline-flex 
  items-center 
  px-5 
  py-2.5 
  text-center 
  mr-2;
}
.btn-close-delete-modal {
  @apply text-gray-500
   bg-white
   hover:bg-gray-100
   focus:ring-4
   focus:outline-none
   focus:ring-gray-200
   rounded-lg border
   border-gray-200
   text-sm 
   font-medium 
   px-5 
   py-2.5 
   hover:text-gray-900 
   focus:z-10 
   dark:bg-gray-700 
   dark:text-gray-300 
   dark:border-gray-500 
   dark:hover:text-white 
   dark:hover:bg-gray-600 
   dark:focus:ring-gray-600;
}
