.add-product-icon {
  @apply h-16 
    w-16 
    fixed 
    z-40
    bottom-16
    md:bottom-8
    right-[44vw]
    md:right-12 
    text-white
    md:text-slate-700 
    cursor-cell 
    rounded-full 
    md:hover:bg-gray-100
    bg-slate-700 
    md:bg-transparent;
}

.show-more-btn {
  @apply bg-transparent
  md:hover:bg-blue-500
  text-blue-700
  font-semibold
  hover:text-white
  py-2
  px-4
  border
  border-blue-500
  hover:border-transparent
  rounded;
}
